<!-- LanguageTool toolbar button -->
<button class="buttonicon buttonicon-edit" data-l10n-id="ep_languagetool.checkGrammar" title="Check Grammar" id="ep_languagetool-check-btn">
  <span>Check Grammar</span>
</button>
